.tile_card {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
}

.tile img {
    width: 100%;
}
.card__front img,
.card__back img{
    width: 40px;
    height: 40px;
    position: absolute;
    right:0;
    left: 0;
    top:0;
    bottom:0;
    margin: auto;
}
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
}

.card__front {
  background-color: transparent;
}

.eje-y .card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.eje-x .card__back{
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.tile_card.effect__random.eje-y.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.tile_card.effect__random.eje-y.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.tile_card.effect__random.eje-x.flippedX .card__front {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.tile_card.effect__random.eje-x.flippedX .card__back {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.effect__random .card__front:hover, .effect__random .card__back:hover {
    /*background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0*/
}