div.background-loader {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 8888888;
    top: 0;
    bottom: 0;
}
div.block-background {
    background: rgba(0, 0, 0, 0.4) url("../img/back_bancentro.png") repeat scroll 0 0;
    display: block;
}

.tile.is-child.box > div.legend {
    bottom: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 0.7em;   
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: initial;
    width: 100%;
}
.commerce-list-items .tile.is-child.box > div.legend {
    color: #00a393;
    background: white;
    padding-bottom: 2px;
    padding-top: 2px;
    bottom: 0;
    padding-left: 0px;
}
.tile {
    position: relative;
}
.web {
    display: none;
    opacity: 0;
}
.employee-data p{
    width: 80%;
    margin: auto;
    position: relative;
    height: 1.8em;
}
.employee-data p > a{
    color: white;
    font-size: 0.7em;
    font-weight: lighter;
    position: absolute;
    text-transform: uppercase;
    max-width: 50%;
    width: 50%;
}
.employee-data p > .right {
    right: 0;
    text-align: right;
}
.employee-data p > .left {
    left: 0;
    font-weight: bold;
    text-align: left
}
#employee_name, #employee_company{
    max-width: 77%;
    width: 77%;
}
#commerceList .box {
    opacity: 1;   
}
.box .square .center {
    margin-top: 70%;
}
.box .center {
    font-size: 1em;
    text-align: center;
}
.box .center a {
    left: 0;
    position: absolute;
    right: 0;
    top: 40%;
    color: rgb(0,80,53)
}
.box .center a, .box .center img{
    display:table-cell;
    vertical-align:middle;
}
.box {
    /*opacity: 0;*/
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    background-color: #00a393;
}



.triangle-down {
    width: 100%;
    height: 0;
    padding-left: 48%;
    padding-top: 52%;
    overflow: hidden;
    position: absolute;
    bottom: -49%;
}
.triangle-down:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-30px;
    margin-top:-30px;
    
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
}




.box .ticket.square {
    width: 2.3em;
    height: 2.3em;
    right: 5px;
    font-style: 13px;
    bottom: 10px;
}
.box .ticket {
    top: 0px;
    height: 3em;
    width: 3em;
    background: white;/*url("../img/commerce/ticket_main.png") no-repeat center center;*/
    background-size: contain;
    position: absolute;
    left: 0px;
    max-height: 110px;
}   
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background: none;
}
.ui-content {
    border-width: 0;
    overflow: hidden;
    padding: 0;
}
.ui-fixed-hidden {
    position: absolute;
    bottom: 0;
}
.ui-footer-fixed {
    bottom: 0;
}
div#page {
    height: 100%;
}
.bar {
    background: #086062 none repeat scroll 0 0;
    height: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index: 555;
}
.left-panel img{
    max-height: 30px;
}
.left-panel {
    background-color: rgba(0,47,56,0.9);
}

.ui-panel-animate.ui-panel-page-content-position-left {
    transform: translate3d(14.9em, 0px, 0px);
    -webkit-transform: translate3d(14.9em, 0px, 0px);
    -moz-transform: translate3d(14.9em, 0px, 0px);
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 15em;
}
.ui-panel {
    width: 15em;
}
.ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-open.ui-panel-position-left.ui-panel-display-push {
    padding: 0;
    position: fixed;
}
.ui-panel-inner {
    font-family: sans-serif;
    padding: 30px 0 0 0;
    text-align: left;
    text-shadow: none;
}
.left-panel a:visited {
    color: white;
}
.left-panel a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    display: block;
    padding: 10px 20px;
}
.left-panel .ui-link > img {
    position: absolute;
    right: 30px;
    width: 40px;
}
.menu_footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    background: #2f4f4f
}
div.header-items {
    height: 40px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    top:0;
    bottom: 0;
    margin:auto;
    width: 100%
}
div.header.ui-header  {
    background: #086062 none repeat scroll 0 0;
    height: 10%;
    opacity: 0.95;
    position: fixed;
}
div.header.ui-header  a {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;

    display: -webkit-inline-box;
}
div.header.ui-header  img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 40px;
    position: relative;
    top: 0;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #e9e9e9;
    border: none;
    font-weight: auto;
    text-shadow: none;
}
html {
    background: #109886;
}
div.header.ui-header .menu-icon + a {
    margin-left: 20px;
}
div.header.ui-header .menu-icon {
    bottom: 0;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
}
div.header.ui-header .menu-icon img {
    position: absolute;
    width: 30px;
}
div.header.ui-header .menu-icon {
   
    position: absolute;
    left: 5px;
    
}

div.header.ui-header .menu-icon.bar {
   
    left: 0px;
    
}   

div.background {
    position: fixed;
    top: 0%;
    left: 0%;
    min-width: 100%;
    z-index: -10000;
    height: 100%;
}

.web .double_container {
    width: 49.7%;
    display: inline-table;
}
.double_container .tile.is-ancestor {
    width: 100%;
}

.rotateX{
    transform: rotateX(360deg) !important;
    -webkit-transform: rotateX(360deg) !important;
    opacity: 1;     
}

.rotateY{
    transform: rotateY(360deg) !important;
    -webkit-transform: rotateY(360deg) !important; 
    opacity: 1;
}
.translate-X {
    left: -2500px;
    transform: translate3d(2500px,0, 0);
    -webkit-transform: translate3d(2500px,0, 0);
    opacity: 1;
}
.translate-Y {
    top: -2500px;
    transform: translate3d(0,2500px,0);
    -webkit-transform: translate3d(0,2500px,0);
    opacity: 1;
}
.translateX {
    left: 2500px;
    transform: translate3d(-2500px,0, 0);
    -webkit-transform: translate3d(-2500px,0, 0);
    opacity: 1;
}
.translateY {
    top: 2500px;
    transform: translate3d(0,-2500px,0);
    -webkit-transform: translate3d(0,-2500px,0);
    opacity: 1;
}
div.header.ui-header .menu-icon {
    transition: all 1s ease-out;
    -webkit-transition: all 2s ease-out;
}
.appear{
    /*transform: rotateX(360deg) translate3d(0,0, 500px);
    -webkit-transform: rotateX(360deg) translate3d(0,0, 500px);*/ 
    transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    opacity: 1;
}
.page * {
    /*NOT WORKING ON IPHONE*/
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;*/
}
 
.page.transition {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.bottom-panel{
    position:fixed;
    bottom:-100%;
    left:0;
    right: 0;
    height: 100%; 
    background-color: transparent;
    width: 100%;
    margin: auto;
    display: block;
    z-index:666;
}
.bottom-panel div.content {
    background-color: #00a393;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    bottom: 0;
    height: 90%;
    position: absolute;
    width: 100%;
    overflow-y:auto;
}
.bottom-panel .gp_man img {
    max-width: 250px;
    min-width: 90px;
    width: 50%;
}
.bottom-panel {
    color: white;
    font-weight: normal;
    font-size: 0.8em;
}
.bottom-panel p{
    padding-left: 20px;
    padding-right: 20px;
} 
.bottom-panel p.title{
    text-align: center;
}
.bottom-panel .detail:first-letter {
    font-size: 1.5em;
    text-transform: uppercase;
}
.gp_man, .commerce-gp-logo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.commerce-gp-logo > img {
    max-height: 70px;
}
.detail {
    font-size: 0.9em;
    line-height: 1.4em;
    text-align: justify;
}
.promo_description > hr {
    margin: auto;
    width: 80%;
}
.gp_man img {
    max-width: 120px;
    min-width: 90px;
    width: 20%;
    border-radius: 50%;
}
.gp_logo {
    /*background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll center center;*/
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}
.gp_logo img {
    max-height: 70px;
    width: 70%;
    max-width: 320px;
} 
a.activate:visited {
    color:white;
    text-decoration: none;
    font-weight: normal;

}
a.activate:hover {
    color:white;
}
a.activate {
    color:white;
    text-decoration: none;
    font-weight: normal;
    /*background: rgba(0,0,0,0.3);*/
    padding:5px 10px;
}
.login-form, .activate-form {
    width: 100%;
    text-align: center;
}
form {
    margin:auto;
    width: 60%;
    max-width: 350px;
}
form p {
    position: relative;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
form label.error {
    color:white;
    right:0;
    position: absolute;
}
form p.field.user:before {
    background: url('../img/user.png') no-repeat center center;
    background-size: contain;
}
form p.field.pass:before{
    background: url('../img/pass.png') no-repeat center center;
    background-size: contain;    
}
form p.field:before{
    content:"";
    position: absolute;
    width: 40px;
    height: 20px;
    top:0;
    bottom:0;
    margin: auto;
}
form input, form textarea{
    border-color: #00a393;
    border-image: none;
    border-radius: 0;
    border-style: none none none solid;
    border-width: 0 0 0 40px;
    height: 40px;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    color: rgb(0, 80, 53);
    font-size: 0.8em;
}
form textarea {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
}
form input.message, form textarea.message{
    border-width: 0 0 0 10px;
}
a.login.button {
    color: #002f38;
    background-color: #fffefe;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 10px;
    
    
    
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
    border: 1px solid #ccc; /* Borde */
    background: #f7f7f7;  /* Fondo */
    border-radius: 0px;  /* Bordes redondos */
    
    
}
a.login.button:active { 
    color: #002f38;
    background-color: #fffefe;
    box-shadow:inset 2px 2px 2px rgba(0,0,0,.1), inset -3px -3px 3px rgba(255,255,255,.2);
}
div.footer_grupo {
    margin-top: 15%;
    bottom: 10%;
    text-align: center;   
    width: 100%;
}
div.footer_grupo img {
    width: 35%;
    max-width: 124px;
}
.page{
    text-shadow: none;
}
.ui-sub-panel {
    width: 100%;
    position: absolute;
    top: 0;
    left: -17em;
    min-height: 100%;
    max-height: none;
}
.ui-sub-panel-open {
    -moz-transform: translate3d(17em, 0, 0);
    -webkit-transform: translate3d(17em, 0, 0);
    transform: translate3d(17em, 0, 0);
    background: rgb(0, 47, 55) none repeat scroll 0 0;
}
.ui-sub-panel-animate {
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    transition: transform 500ms ease;
}
.ui-sub-panel-close {
    -webkit-transform: translate3d(-34em, 0, 0);
    -moz-transform: translate3d(-34em, 0, 0);
    transform: translate3d(-34em, 0, 0);
    background: rgb(0, 47, 55);
}
.ui-header, .ui-footer {
    border-style: none;
    border-width: 1px 0;
    position: relative;
}
.ui-btn-right.panel-close.ui-link {
    font-size: 1.1em;
    font-weight: bold;
    right: 10px;
    top: 20px;
    padding: 0;
}
.uploader.button > img {
    height: 50px;
    padding: 10px;
}
.white {
    color:white;
}
.justify {
    text-align: justify;
}
.size_08em {
    font-size: 0.8em;
}
.ui-btn-right.back_logo {
    position: absolute !important;
    margin-right: 20px !important;
}
.ui-loader .ui-icon-loading {
    background-color: rgba(255, 255, 255, 1)!important;
}
.ui-loader-default {
    opacity: 1 !important;
}
label#lbl_rem_me:after{
    background-color: #00a393 !important;
}
label#lbl_rem_me{
    border-radius: 2px !important;
    background-color: white;
    font-size: 0.8em;
    padding: 10px;
    padding-left: 50px;
    font-weight: normal;
}
@media screen and (max-width: 560px) {
    form {
      width: 85%;
    }
    body {
      background: url('../img/landscape_background.jpg') no-repeat center center;
      background-size: cover;
    }/*
  .mobile {
    opacity: 0;
    display: none;
   }
   .web {
       display:block;
       opacity: 1;
   }
  .web .tile.is-ancestor {
    min-width: 150px;
    width: 49.7%;
    display: inline-flex;
    display: -webkit-inline-box;
    opacity: 1;
  }
*/
}